###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/apps/MarsRoverMissionApi/config/secrets/prod/prod.decrypt.private.php
/apps/MarsRoverMissionApi/public/bundles/
/apps/MarsRoverMissionApi/var/
/vendor/
/.idea/
/etc/data/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
/build/
###< phpunit/phpunit ###
/var/
